

body {
    background-color: #E5E5E5;
    
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
    margin: 2rem auto;
    background-color: white;
    border-radius: .3rem;
}

.intro {
    font-size: 1rem;
    color: rgba(0,0,0,0.82);
    line-height: 1.6rem;
}


.text-info:hover{
    text-decoration: none;
}

img {
    height: 25px;
}



.item {

     &__contain {
        margin-bottom: 2rem!important;
        // background: red;
    }

    &__container {
        margin: 1rem 0!important;
    }

    &__dev {
         font-size: .9rem;
        margin-bottom: 1rem;
    }

    &__header {
        font-size: .9rem;
        margin-bottom: .5rem;
    }
    
    &__description {
        font-weight: 100;
        font-size: .9rem;
    }
 
}


.list__item {
    padding: 12px;
}

@media (max-width: 576px) { 
    br {
        display: none;
    }
 }

 .edu >p {
    margin-bottom: 0;
 }